<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> Editar Tema </header>
    <% if (error != "") { %>
        <p style="color:red"><%= error %></p>
    <% } %>
    <% if (ok != ""){ %>
        <p style="color:chartreuse"> <%= ok %> </p>
    <%} %>
    <form method="POST" action="/temas/<%= id %>/editar">
        <fieldset>
            <label>Título
                <input type="text" name="titulo" value="<%= form.titulo %>" />
            </label>
        </fieldset>
        <fieldset>
            <label> Descripcion
                <textarea name="descripcion"><%= form.descripcion %></textarea>
            </label>
        </fieldset>
        <button type="submit"> Guardar </button>
        <a href="/temas"> Cancelar </a>
    </form>
</body>
</html>